[Unit]
Description=Run daily backup to remote encrypted device

[Timer]
OnCalendar=daily
RandomizedDelaySec=7200
Persistent=true
Unit=backup.service

[Install]
WantedBy=basic.target
